/* This is an example of how to import a partial scss file*/
@import "_variables";
@import "_mixins";

nav {
  @include flex(row, nowrap, normal, space-between, normal);
  background: url(#{$nav-background});
  background-size: cover;
  padding: 10px;
}
.logo {
  height: 50px;
  width: auto;
  background: rgba(238, 238, 238, 0.8);
}

body {
  @include flex(column, nowrap, normal, normal, normal);
  margin: 0;
  min-height: 100vh;
}

main {
  @include flex(column, nowrap, normal, space-around, normal);
  height: 100%;
  flex: 1;
}
h2 {
  margin: 0px;
  padding: 10px;
}

.book-your-stay-section {
  @include flex(column, nowrap, normal, normal, center);
  border: lightblue 2px dashed;
}

// #quantity
//   width: 30px;

.rooms {
  padding-left: 50px;
}

.bookings {
  background: url(#{$background});
  background-size: cover;
}

.booking-details {
  @include flex(row, nowrap, normal, space-evenly, baseline);
  border: lightgray 2px dashed;
}

.past-bookings,
.current-bookings,
.upcoming-bookings {
  p {
    margin-top: 0;
  }
  @include flex(column, nowrap, normal, normal, center);
  background: rgba(238, 238, 238, 0.8);
  padding: 40px;
}

table {
  table-layout: fixed;
  border: 2px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  border: 1px solid black;
}

.room-details {
  @include flex(row, nowrap, normal, space-evenly, normal);
}

.room-card {
  @include flex(column, nowrap, center, center, center);
  border: black 2px solid;
  padding: 10px;
}

.hidden {
  display: none;
}
