/* This is an example of how to import a partial scss file*/
@import "_variables";
@import "_mixins";

nav {
  @include flex(row, nowrap, normal, space-between, normal);
  background: url(#{$nav-background});
  background-size: cover;
  padding: 10px;
}
.logo {
  height: 50px;
  width: auto;
  background: $tile-background;
}

body {
  @include flex(column, nowrap, normal, normal, normal);
  margin: 0;
  min-height: 100vh;
}

main {
  @include flex(column, nowrap, normal, space-around, normal);
  height: 100%;
  flex: 1;
}
h2 {
  margin: 0px;
  padding: 10px;
}

.login-view {
  @include flex(column, nowrap, normal, normal, center);
  padding-bottom: 33%;
}

.login-user-element,
.login-password-element {
  padding: 5px;
}

.manager-dashboard {
  @include flex(column, nowrap, normal, normal, normal);
  flex: 1;
}

.user-dropdown {
  text-align: center;
  padding-bottom: 20px;
}

.manager-dash-tiles {
  @include flex(row, nowrap, normal, space-evenly, baseline);
  flex: 1;
}

.manager-dash-tile {
  background: $tile-background;
  padding: 20px;
}

.book-your-stay-section {
  @include flex(column, nowrap, normal, normal, center);
  padding-bottom: 20px;
}

.rooms {
  padding-left: 50px;
}

.bookings {
  min-height: 100%;
  background-image: url(#{$background});
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.booking-details,
.room-details {
  @include flex(row, nowrap, normal, space-evenly, baseline);
}

.past-bookings,
.current-bookings,
.upcoming-bookings {
  p {
    margin-top: 0;
  }
  @include flex(column, nowrap, normal, normal, center);
  background: $tile-background;
  padding: 40px;
}

table {
  table-layout: fixed;
  border: 2px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  border: 1px solid black;
}

.room-details {
  @include flex(row, nowrap, normal, space-evenly, normal);
}

.room-card {
  @include flex(column, nowrap, center, center, center);
  background: $tile-background;
  padding: 10px;
}

.manager-booking-view {
  @include flex(row, nowrap, normal, normal, normal);
}

.manager-customer-booked-section {
  max-height: 80vh;
  overflow-y: scroll;
}

.hidden {
  display: none;
}
